@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* RESET */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    /* box-sizing: inherit; */
}

body, html {
    width: 100%;
    max-width: 100vw; /* Không vượt quá chiều ngang của màn hình */
    overflow-x: hidden; 
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    color: #555;
}

/* END RESET */
.cursor-pointer {
    cursor: pointer;
}
.text-color {
    color: hsla(0, 0%, 40%, .85) !important;
}

.bg-main {
    background-color: hsla(0, 0%, 40%, .85) !important;
}

.bg-button {
    background-color: #d26e4b;
    color: #fff;
  }

.input-color {
    background-color: rgba(0,0,0,.03);
}

.xemtatca-btn {
    transition: all .1s ease-in;
}

.xemtatca-btn:hover {
    background-color: #000;
    color: #fff;
}

.img-hover {
    cursor: pointer;
}

.btn-hover {
    cursor: grab;
}

.img-hover {
    cursor: pointer;
}

.btn-hover {
    cursor: grab;
}

.product {
    width: var(--wvs-single-product-item-width, 30px);
}

.list-color {
    list-style: none;
}

.custom-icon {
    cursor: pointer;
}

/* Begin login */
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: hsla(0,0%,100%,.3);
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/* End login */

/* Begin Slick */

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    color: #000 !important;
}

.slick-prev {
    left: 0 !important;
}

.slick-next {
    right: 20px !important;
}

.slick-prev,
.slick-next {
    z-index: 10;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px !important;
}

/* End Slick */

/* HEADER */
.navbar {
    top: 0;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/* Style cho navbar */
.navbar-nav .nav-item .nav-link {
    color: #000;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
}

.nav-item {
    display: inline-block;
    color: white;
    /* padding: 1rem; */
    cursor: pointer;
}

/* Lớp phủ đen mờ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
    /* Để không ảnh hưởng đến tương tác của người dùng */
    opacity: 0;
    /* Bắt đầu với trạng thái ẩn */
    visibility: hidden;
    /* Ẩn lớp phủ mà không làm mất bố cục */
    transition: opacity 0.5s ease, visibility 0s 0.5s;
    /* Thêm transition cho opacity, visibility có độ trễ */
}

.overlay.active {
    opacity: 1;
    /* Đặt opacity về 1 để hiện lớp phủ */
    visibility: visible;
    /* Hiện lớp phủ */
    transition: opacity 0.5s ease;
    /* Hiệu ứng khi hiện lên */
}


/* Hover hiệu ứng cho link */
.navbar-nav .nav-item .nav-link:hover {
    color: #4e5359;
    transform: translateY(-2px);
}


/* Khi hover vào dropdown hoặc phần tử con bên trong */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    width: 13rem;
    /* Xóa khoảng trống phía trên menu */
}

.dropdown-menu {
    display: none;
    /* Ẩn menu mặc định */
    transition: all 0.3s ease;
    /* Hiệu ứng mượt mà */
}

.dropdown-menu div {
    height: 15px;
    width: 15px;
    background-color: #fff;
    position: absolute;
    top: -0.55rem;
    left: 3rem;
    transform: rotate(45deg);
}



.menudrop {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.hienthi {
    opacity: 1 !important;
    /* Hiển thị khi có class 'show' */
    max-height: 150px !important;
    /* Đặt chiều cao tối đa phù hợp với kích thước li của bạn */
} */

.rotateBtn {
    width: 100px;
    height: 50px;
    transition: transform 0.5s ease; /* Tạo hiệu ứng mượt mà khi xoay */
  }
  
  .rotated {
    transform: rotate(180deg); 
  }
  
/* Style cho icon */
.custom-icon {
    transition: transform 0.3s ease, fill 0.3s ease;
    fill: #333;
}

/* Hover hiệu ứng cho icon */
.custom-icon:hover {
    fill: #4e5359;
    transform: scale(1.2);
}

/* Style cho form tìm kiếm */

.background-search {
    background-color: rgba(0, 0, 0, .03);
    border-color: rgba(0, 0, 0, .09);

}

form input {
    border-radius: 20px;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input:focus {
    border-color: #4e5359;
    box-shadow: 0 0 5px rgba(113, 120, 127, 0.5);
}

/* Hiệu ứng navbar-toggler */
.navbar-toggler {
    border: none;
    background-color: #4e5359;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-toggler:hover {
    background-color: #4e5359;
}

/* Responsive navbar */
@media (max-width: 991px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 1rem;
    }

    .navbar-brand {
        margin-bottom: 1rem;
    }
}

.cart-item:hover .menudrop-ticket {
    display: block;
}

.cart-list {
    max-height: 18rem;
    overflow-y: auto;
}

.menudrop-ticket {
    display: none;
    transition: all 0.3s ease;
    width: 20rem;
    right: 0;
    top: 2.2rem;
    position: absolute; /* Ensure it's positioned correctly */
}

.menudrop-ticket::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: rgba(var(--bs-tertiary-bg-rgb)) !important;
    top: -.55rem;
    right: 1.4rem;
    transform: rotate(45deg);
    border-top: 2px solid rgba(var(--bs-dark-rgb), 0.25);
    border-left: 2px solid rgba(var(--bs-dark-rgb), 0.25);
    overflow: hidden;
    z-index: 1;
}

.login-cart-item .menudrop-ticket{
    width: 14rem;
    right: -5rem;
    /* display: block; */
}

.login-cart-item .menudrop-ticket::after{
	top: -.55rem;	
	right: 6.4rem;	
}

.login-cart-item .menudrop-ticket ul li{
    transition: .2s ease;
}

.login-cart-item .menudrop-ticket ul li a {
    color: #333;
}


.login-cart-item .menudrop-ticket ul li:hover {
	background-color: #000;
}

.login-cart-item .menudrop-ticket ul li:hover a {
    color: #fff;
}


/* END HEADER */


/* BEGIN SECTION */
#carouselExampleCaptions {
    top: 90px;
}

.category {
    margin-top: 7.8rem;
}

.section-top-90 {
    margin-top: 120px !important;
}

/*  */

.image-danhmuc {
    position: relative;
}

.image-danhmuc h5 {
    text-decoration: none !important;
  }

.image-danhmuc img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-danhmuc img:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.image-danhmuc h5 {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .image-danhmuc h5 {
        font-size: 1rem;
    }
}


/* Begin product-cart */

.product-card:hover img {
    /* transform: scale(1.05); */
}

/* .product-card:hover  */

.quick-view {
    transition: opacity 0.3s;
    transform: translateY(40px);
    transition: transform .2s ease-in-out;
}

.loving-product {
    color: #fff;
    background: none;
    opacity: 0;
    padding: .5rem .8rem;
    border: 2px solid;
    margin: .5rem .5rem 0 0;
    transition: opacity .2s ease-in-out;
}

.loving-product:hover {
    transition: all .2s ease-in-out;
    border: 2px solid #cf2e2e; 
    background-color: #cf2e2e;;
    color: #fff;
}

.img-container {
    /* height: 18rem; */
}

.img-container:hover .loving-product,
.img-container:hover .card-img-bottom {
    opacity: 1;
}

/* .img-container:hover {
    opacity: 0;
} */

.img-container:hover .quick-view {
    transform: translateY(0);
}

.card-img-top {
    /* height: 250px; */
    object-fit: cover;
}

.card-img-bottom {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card-body {
    cursor: grab;
}


/* .product-card-img .show {
    opacity: 1;
  } */
/* End product-cart */

.customer-reviews {
    color: white;
    text-align: center;
    padding: 4rem;
    background-image: url(https://polostore.vn/wp-content/uploads/2016/08/dummy-2.jpg);
    background-size: cover;
    /* Đảm bảo ảnh bao phủ toàn bộ phần */
    background-position: center;
    /* Căn giữa ảnh */
}

.customer-reviews .review {
    font-size: 18px;
    margin-bottom: 15px;
}

.customer-reviews .review span {
    display: block;
    font-size: 14px;
    color: #ccc;
}

/* END SECTION */

/* BEGIN FOOTER */
.is-divider {
    background: hsla(0,0%,100%,.3);
    display: block;
    height: 3px;
    margin: 1em 0;
    max-width: 30px;
    width: 100%;
}

.border-color-footer {
    border-color: hsla(0, 0%, 100%, .08);
}

/* END FOOTER */